{% extends "base_generic.html" %}

{% block title %}e{% endblock %}

{% block content %}
<h1>Index</h1>

<p>Index</p>
<table class="table">
	<thead>
		<tr>
			<th scope="col">Name</th>
			<th scope="col">Description</th>
		</tr>
		{% if user.is_authenticated %}
		<tr>
			<td colspan="2"><a href="{% url 'tcatcc:create-item' %}"><div><strong>Create new item</strong></div><a></td>
		</tr>
		{% endif %}
		<tr>
		</tr>
	</thead>
	<tbody>
		{% for item in items %}
		<tr>
			<td>{{item.name}}<br/>
			<div class="progress">
				<div class="progress-bar" role="progressbar" style="width: {% widthratio item.agreers item.threshold 100 %}%" aria-valuenow="{{item.agreers}}" aria-valuemin="0" aria-valuemax="{{item.threshold}}">{{item.agreers}}/{{item.threshold}}</div>
			</div>
			</td>
			<td>{{item.description}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}